<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

    <title>{{ name_2 }}</title>

</head>

<body>

    <div class="container-fluid">

        {% load static %}
        <img id="pict-profile" src="{% static 'images/farhan.jpg' %}" alt="manusia biasa!">

        <div class="description container" align="center">
            <h1>Hello my name is {{ name_2 }}</h1>
        </div>

        <div class="articles" align="center">
            <article>{{ npm_2 }}</article>
            <article>I am {{ age_2 }} years old</article>
            <article>Studying in {{ education_2 }}</article>
            <article>Deskripsi : {{ desc_2 }}</article>
            <article>Hobi : {{ hobby_2 }}</article>
            <a href="/">Ini link teman saya Muhammad Ardivan</a>
        </div>

    </div>
</body>

</html>