{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Muhammad Ardivan </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Font Josefin Slab-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Slab" />

    <!-- External CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    {% block script %}
    {% endblock %}

</head>


<body>
    <div class="container-fluid">

        <div class="sidebar">
            <a href="{% url 'about' %}" {% block nav_about %}{% endblock %}>About</a>
            <a href="{% url 'blog' %}" {% block nav_blog %}{% endblock %}>Blog/Story</a>
            <a href="{% url 'experience' %}"  {% block nav_exp %}{% endblock %}>Experience</a>
            <a href="{% url 'education' %}" {% block nav_education %}{% endblock %}>Education</a>
            <a href="{% url 'projects' %}" {% block nav_projects %}{% endblock %}>Projects</a>
            <a href="{% url 'contacts' %}" {% block nav_contacts %}{% endblock %}>Contacts</a>
            <a href="{% url 'guest_book' %}" {% block nav_guest %}{% endblock %}>Guest Book</a>
            <a href="{% url 'schedule_post' %}" {% block schedule %}{% endblock %}>Add Schedule</a>
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

    </div>
</body>

</html>

{% block inline_script %}
{% endblock %}