{% extends 'navbar/base.html' %}

{% load static %}

{% block script %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />

{% endblock %}


{% block schedule %}
class="active"
{% endblock %}


{% block content %}

<h2>Schedule Forms</h2>
<hr>

<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    <div class="form-group">

        {{ the_form|linebreaksbr }}

    </div>

    <div class="form-group">

        <div>
            <button type="submit" class="btn btn-primary btn-md pull-right">Submit</button>
            <a href="{% url 'get_schedule' %}" style="text-decoration:none">
                <button type="button" class="btn btn-info btn-md pull-left">See schedule</button>
            </a>
        </div>

    </div>

</form>

{% endblock %}


{% block inline_script %}

<script>
    $('#datepicker').datetimepicker({
        uiLibrary: 'bootstrap4',
        format: 'dd/mm/yyyy HH:mm',
    });
</script>

{% endblock %}