{% extends 'navbar/base.html' %}

{% load static %}

{% block script %}


{% endblock %}

{% block content %}

<h2>List Schedule Activities</h2>
<hr>

<div class="table-responsive">
    <table class="table table-bordered table-dark" id="list_schedule" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>Nama Kegiatan </th>
                <th>Tempat</th>
                <th>Kategori</th>
                <th>Waktu/Tanggal</th>
            </tr>
        </thead>
        <tbody>

            {% for i in schedule %}
            <tr class="table-primary">
                <td style="color:black; font-weight:bold">{{ i.nama_kegiatan }} </td>
                <td style="color:black; font-weight:bold">{{ i.tempat }} </td>
                <td style="color:black; font-weight:bold">{{ i.kategori }} </td>
                <td style="color:black; font-weight:bold">{{ i.tanggal }} </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>


<!--Modal boostrap-->


<div class="pagination pull-right">
    <span class="step-links">
        {% if schedule.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ schedule.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ schedule.number }} of {{ schedule.paginator.num_pages }}.
        </span>

        {% if schedule.has_next %}
        <a href="?page={{ schedule.next_page_number }}">next</a>
        <a href="?page={{ schedule.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<a href="{% url 'schedule_post' %}" style="text-decoration:none">
    <button type="button" class="btn btn-info btn-md pull-left">Back to Form</button>
</a>

<form action="{% url 'delete_schedule' %}" method="POST">

    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-md pull-left" style="margin-left:5px">Delete</button>

</form>

{% endblock %}