body {
  font-family: "Josefin Slab";
  height: 100%;
  margin: 0;
}


.container-fluid{

  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto;
  min-height: 100%;
}

.sidebar {

  padding-top:10%;
  margin: 0;
  text-align: center;
  width: 200px;
  background-color: #fc4a1a;
  position: fixed;
  height: 100%;
  overflow: auto;

}

.sidebar a {
  display: block;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  font-size: 1.5em;

}

.sidebar a.active {
  background-color: black;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  background-color: #f7b733;
  height:140vh;
}

@media screen and (max-width: 700px) {
  .sidebar {
    padding-top:0;
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
    background-color: #f7b733;
    height:100%;
  }

  p {
    margin: 0;
    font-size: 0.5em;
  }

}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

  div.content {
    margin-left: 0;
    background-color: #f7b733;
    height:100%;
  }

  p {
    margin: 0;
    font-size: 0.5em;
  }
}


h2 {

  margin-top: 1.5em;
  font-size: 50px;
  font-weight: normal;
  color: black;
  text-align: center;
}

#img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.media-body h4{

  font-weight: bold;
}

/* Paragraph intro about */
#short-intro {
  text-align: justify;
  padding-top: 20px;
  font-size: 1.2em;
}

#info {

  text-align: justify;
  font-size: 1.5em;
}


/* for contacts */
#social-media {

  text-align: center;
}

#or {
  text-align: center;
  font-size: 2em;

}

.fa {
  border-radius: 50%;
  text-align: center;
  padding: 25px;
  font-size: 2em;
  max-width: 100%;
  margin: 5px 5px;

}

.fa-facebook {
  background: black;
  color: white;
}

.fa-twitter {
  background: black;
  color: white;
}

.fa-linkedin {
  background: black;
  color: white;
}

.fa-instagram {
  background: black;
  color: white;
}

label {
  font-size: 1.5em;
}

/* blog Page */
.blog .media-object {

  max-height: 50%;
  max-width: 40%;
  height: auto;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.blog .media-body h4 {

  font-weight: bold;
}

.blog .media-body p {

  font-size: 1em;
}

/* education page*/

.media {

  margin-top: 2em;
}

#algor {

  max-height: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.all .media-object {

  max-height: 50%;
  border-radius: 50%;
  border: 5px solid black;
  max-width: 40%;
  height: auto;
  display: block;
  text-align: center;
  margin: 0 auto;

}

.media-body {
  max-width: 100%;
}

p {
  margin: 0;
  font-size: 1.5em;
}

/* projects page */
.projects .media-body h4{

  font-weight: bold;

}

.projects .media-object {

  max-height: 50%;
  max-width: 40%;
  height: auto;
  display: block;
  text-align: center;
  margin: 0 auto;
}