body{

    background-color: black;
}

h1{

    color: white;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
}

article{

    color:white;
}



.articles{

    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-40%, -50%);

}

#pict-profile{

    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
    object-position: center;

    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Extra small devices */
@media screen and (max-width: 767px) {

    h1 {
        font-size: 14px;
    }

    article{

        font-size: 10px;
    }

}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

    h1 {
        font-size: 20px;
    }

    article{

        font-size: 18px;
    }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

    h1 {
        font-size: 14px;
    }

    article{

        font-size: 14px;
    }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {

    h1 {
        font-size: 20px;
    }

    article{

        font-size: 16px;
    }
}
