{% extends 'navbar/base.html' %}

{% load static%}

{% block nav_about %}
    class="active"
{% endblock %}


{% block content %}
<h2>About</h2>
<hr>
&nbsp;
<img id="img-responsive" src="{% static 'avatar.png' %}" alt="foto-ku">
<p id="short-intro">Nama saya Muhammad Ardivan Satrio Nugroho. Seorang pembelajar yang ingin terus belajar
    terutama di dunia
    teknologi. Senang dan tertarik dengan hal Free Open Source dan software development. Berharap menjadi
    seseorang yang lebih baik dari hari sebelumnya. Keep it going!</p>

{% endblock %}