{% extends 'navbar/base.html' %}

{% load static%}

{% block nav_blog %}
    class="active"
{% endblock %}

{% block content %}
<h2>Blog/Story</h2>
<hr>
&nbsp;

<div class="media col blog">
    <div class="media-left media-middle">
        <img class="bulan media-object" src="{% static 'bulan.png' %}" alt="ui-pict">
    </div>
    
    <div class="media-body">
        <h4 class="media-heading">Bulan</h4>
        <p>aku seperti bulan</p>
        <p>sebagai benda langit yang terdekat dengan bumi</p>
        <p>selalu mengelilingi bumi mendampingi bumi beredar mengelilingi matahari</p>
        <p>tapi tak pernah bisa menggapai bumi terlihat hanya saat gelap, dan tak pernah dianggap saat
            matahari
            menyinarinya.. .......</p>
    </div>
</div>&nbsp;

<div class="media col blog">
    <div class="media-left media-middle">
        <img src="{% static 'kota.png' %}" class="media-object">
    </div>
    <div class="media-body">
        <h4 class="media-heading">Kota</h4>
        <p>hidup di kota sseorang diri dengan banyak penuh pengalaman dan selalu ingin menjadi yang terbaik
            di
            bidangnya. Dia adalah seorang manusia biasa yang hanya ingin sukses menatap masa depan.........</p>
    </div>
</div>&nbsp;

<div class="media col blog">
    <div class="media-left media-middle">
        <img src="{% static 'fams.png' %}" class="media-object">
    </div>
    <div class="media-body">
        <h4 class="media-heading">Keluarga</h4>
        <p>Menjadi yang terbaik dalam keluarga adalah semua impian umat manusia. Keluarga adalah tempat
            kita
            untuk bercerita tentang hal-hal yang meresahkan kehidupan. Banyak nilai yang bisa kita ambil
            dari
            sebuah keluarga......</p>
    </div>
</div>
{% endblock %}