{% extends 'navbar/base.html' %}

{% load static%}



{% block nav_contacts %}
    class="active"
{% endblock %}

{% block content %}
<h2>Contacts</h2>
<hr>
<p id="info">Feel free to contact me via social media or email</p>
<div id="social-media">
    <a href="https://www.facebook.com/muhammad.nuga.3" class="fa fa-facebook" target="_blank"></a>
    <a href="https://twitter.com/n_1499" class="fa fa-twitter" target="_blank"></a>
    <a href="https://www.instagram.com/nux99/" class="fa fa-instagram" target="_blank"></a>
    <a href="https://www.linkedin.com/in/muhammad-ardivan/" class="fa fa-linkedin" target="_blank"></a>
</div>&nbsp;
<p id="or">Or</p>
<div>
    <form class="form-horizontal" action="" method="POST">
        {% csrf_token %}
        <!-- Name input to right inline-->
        <div class="form-group row">
            <label class="col-md-3 control-label" for="name">Name</label>
            <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
            </div>
        </div>

        <!-- Email input to right inline-->
        <div class="form-group row">
            <label class="col-md-3 control-label" for="email">Your E-mail</label>
            <div class="col-md-9">
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
            </div>
        </div>

        <!-- Message body to right inline-->
        <div class="form-group row">
            <label class="col-md-3 control-label" for="message">Message</label>
            <div class="col-md-9">
                <textarea class="form-control" id="message" name="message" placeholder="Type here your message..." rows="5"></textarea>
            </div>
        </div>

        <!-- Form actions -->
        <div class="form-group">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </div>
    </form>
    {% endblock %}