{% extends 'navbar/base.html' %}

{% load static%}

{% block nav_education %}
    class="active"
{% endblock %}

{% block content %}
<h2>Education</h2>
<hr>
&nbsp;

<div class="media col all">
    <div class="media-left media-middle">
        <img class="media-object" src="{% static 'ui.png' %}" alt="ui-pict">
    </div>

    <div class="media-body">
        <h4 class="media-heading">University of Indonesia</h4>
        <p>Undergraduate Student, Faculty of Computer Science</p>
        <p>Expected graduation 2017 – 2021</p>
    </div>
</div>&nbsp;

<div class="media col all">
    <div class="media-left media-middle">
        <img src="{% static 'sman28.png' %}" class="media-object">
    </div>
    <div class="media-body">
        <h4 class="media-heading">SMAN 28 Jakarta</h4>
        <p>Natural Sciences</p>
        <p>2014 – 2017</p>
    </div>
</div>
{% endblock %}