{% extends 'navbar/base.html' %}

{% load static%}

{% block nav_exp %}
    class="active"
{% endblock %}


{% block content %}
<h2>Experience</h2>
<hr>
&nbsp;

<div class="media col all">
    <div class="media-left media-middle">
        <img class="media-object" src="{% static 'compfest.png' %}" alt="ui-pict">
    </div>

    <div class="media-body">
        <h4 class="media-heading">Technical Staff of Capture The Flag Competition</h4>
        <p>Compfest</p>
        <p>Mar 2018 - Present</p>
    </div>
</div>&nbsp;

<div class="media col all">
    <div class="media-left media-middle">
        <img src="{% static 'bem.png' %}" class="media-object">
    </div>
    <div class="media-body">
        <h4 class="media-heading">Staff of Academic and Leadership Department</h4>
        <p>BEM Fakultas Ilmu Komputer Universitas Indonesia</p>
        <p>Feb 2018 - Present</p>
    </div>
</div>&nbsp;

<div class="media col all">
    <div class="media-left media-middle">
        <img src="{% static 'badr.png' %}" class="media-object">
    </div>
    <div class="media-body">
        <h4 class="media-heading">Web Developer Intern</h4>
        <p>Badr Interactive, PT</p>
        <p>Jul 2018 - Aug 2018</p>
        <p>Depok, Indonesia</p>
    </div>
</div>
{% endblock %}