{% extends 'navbar/base.html' %}

{% load static%}

{% block script %}
<!-- script cdn jquery-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block nav_guest %}
class="active"
{% endblock %}

{% block content %}
<h2>Guest Book</h2>
<hr>

<form class="form-horizontal" action="" method="POST">
    {% csrf_token %}
    <!-- Name input to right inline-->
    <div class="form-group row">
        <label class="col-md-3 control-label" for="name">Name</label>
        <div class="col-md-9">
            <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
        </div>
    </div>

    <!-- Datepicker input to right inline-->
    <div class="form-group row">
        <label for="example-date-input" class="col-md-3 control-label">Date</label>
        <div class="col-md-9">
            <input class="form-control" id="datepicker" date-format="dd/mm/yyyy">
        </div>
    </div>

    <!-- Email input to right inline-->
    <div class="form-group row">
        <label class="col-md-3 control-label" for="email">Your E-mail</label>
        <div class="col-md-9">
            <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
        </div>
    </div>

    <!-- Subject body to right inline-->
    <div class="form-group row">
        <label class="col-md-3 control-label" for="subject">Subject</label>
        <div class="col-md-9">
            <textarea class="form-control" id="subject" name="subject" placeholder="Type here your subject..." rows="2"></textarea>
        </div>
    </div>

    <!-- Message body to right inline-->
    <div class="form-group row">
        <label class="col-md-3 control-label" for="message">Message</label>
        <div class="col-md-9">
            <textarea class="form-control" id="message" name="message" placeholder="Type here your message..." rows="5"></textarea>
        </div>
    </div>

    <!-- Form actions -->
    <div class="form-group">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </div>
</form>
{% endblock %}

<!-- js script datepicker -->
{% block inline_script %}
<script>
    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4',
        format: 'dd/mm/yyyy'
    });
</script>
{% endblock %}