{% extends 'navbar/base.html' %}

{% load static%}

{% block nav_projects %}
    class="active"
{% endblock %}

{% block content %}
<h2>Projects</h2>
<hr>
&nbsp;

<div class="media col projects">
    <div class="media-left media-middle">
        <img src="{% static 'algor.png' %}" class="media-object">
    </div>

    <div class="media-body">
        <h4 class="media-heading">Algor</h4>
        <br>
        <p>Algor is a project that handle free account movies like NetFlix or iFlix</p>
        <p>I work as a backend engineer</p>
        <p>Stacks : Laravel, Google Analytics, MySQL</p>
    </div>
</div>
{% endblock %}